.blog {
	margin-top: 6rem;
	background-color: white;
}
.bottom-title {
	font-size: 20px;
	font-weight: 700;
}
.extra-text {
	font-size: 12px;
	font-weight: 600;
}
.start {
	font-size: 24px;
}
.button-pev {
	width: 45px;
	height: 45px;

	border: none;
	background-color: white;
	outline: none;
	color: #696969;
	border-radius: 50%;
	position: relative;
}
.button-next {
	width: 45px;
	height: 45px;

	border: none;
	background-color: white;
	outline: none;
	color: #2caf82;
	border-radius: 50%;
	position: relative;
}
