.border-radius {
	border-radius: 50%;
	width: 400px;
	height: 400px;
	background-color: #ecf4f1;
}
.principle-title {
	font-size: 33px;
	font-weight: 600;
	color: #36b37e;
}
.innovation {
	font-size: 18px;
	font-weight: 700;
	color: #36b37e;
}
.right-deatils {
	font-weight: 600;
	text-align: justify;
}
