.subscribe-blog {
	background-color: #36b37e;
}
.subscribe-blog-title {
	font-size: 34px;
	color: white;
	font-weight: 700;
}
.subscribe-details {
	font-size: 18px;
	color: white;
	font-weight: 600;
}
