.partner {
	background-color: white;
}
.partner-title {
	font-size: 35px;
	font-weight: 700;
}
.number-roadmap {
	position: relative;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: white;
}
.number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.gallery-picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	background-color: #f3faf7;
}
.gallery {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.partner-grid-1 {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	align-items: center;
}
.partner-grid-2 {
	display: grid;
	grid-template-columns: 33% 17% 50%;
	align-items: center;
}
.product-tick-text {
	font-size: 14px;
}
.roadmap-number {
	background-color: white;
	width: 70px;
	height: 70px;
	position: relative;
	border-radius: 50%;
}
.margin-center {
	margin-left: auto;
	margin-right: 45px;
}
.position-line {
	position: relative;
}
.vposition {
	position: absolute;
	top: 100%;
	left: 43%;
	height: 500px;
	transform: translate(-40%, 30%);
}
.position-line-m {
	position: relative;
}
.vposition-m {
	position: absolute;
	top: 70%;
	left: 7%;
	height: 767px;
	transform: translate(0%, 0%);
}
.img-position {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.roadmap-number-m {
	width: 40px;
	height: 40px;
	padding: 30px;
	border-radius: 50%;
	position: relative;
	background-color: white;
}
@media (min-width: 1400px) {
	.margin-center {
		margin-left: auto;
		margin-right: 55px;
	}
}
@media (max-width: 1200px) {
	.margin-center {
		margin-left: auto;
		margin-right: 35px;
	}
}
@media (max-width: 990px) {
	.products-title {
		font-size: 22px;
	}
	.gallery-picture {
		width: 70px;
		height: 70px;
	}
}
@media (max-width: 574px) {
	.visual-grid {
		grid-template-columns: 1fr;
	}
	.partner-title {
		font-size: 26px;
	}
}
