.partner {
	background-color: white;
}
.partner-title {
	font-size: 35px;
	font-weight: 700;
}
.number-roadmap {
	position: relative;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: white;
}
.number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.gallery-picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	background-color: #f3faf7;
}
.gallery {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.partner-grid-1 {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	align-items: center;
}
.partner-grid-2 {
	display: grid;
	grid-template-columns: 33% 17% 50%;
	align-items: center;
}
.product-tick-text {
	font-size: 14px;
}
.roadmap-number {
	background-color: white;
	width: 60px;
	height: 60px;
	position: relative;
	border-radius: 50%;
}
.img-position {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
