.product-feature {
	background-color: #ecf4f1;
}
.product-feature-title {
	font-size: 28px;
	font-weight: 700;
}
.product-feature-deatils {
	font-size: 18px;
	font-weight: 700;
	color: #36b37e;
}
.feature-box {
	background-color: #f8f8f8;
	border-radius: 10px;
	border-top: 2px solid #36b37e;
}
.title-feature {
	font-weight: 700;
	font-size: 20px;
}
.price-tick-text {
	font-size: 14px;
}
.left-feature {
	width: 80px;
	height: 80px;
	background-color: #6effc242;
	border-radius: 50%;
	position: relative;
}
.cloud {
	width: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
